name: Publish SDK

on:
  push:
    tags:
      - "v*.*.*"

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Sync version from Git Tag
        run: |
          TAG_NAME=${GITHUB_REF_NAME}
          VERSION=${TAG_NAME#v}
          echo "Detected release version: $VERSION"

          sed -i "s/^version = .*/version = \"$VERSION\"/" Cargo.toml
          grep "^version =" Cargo.toml

      - name: Check Build
        run: cargo check --verbose

      - name: Publish vtx-sdk
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: |
          cargo publish --allow-dirty